<div class="left-panel col-sm-4">
  <div class="panel-fixed">
    <div class="searcher shadow">
      <h1>PubMed Browser</h1>
      <div class="input-group">
        <textarea class="form-control custom-control" rows="3" style="resize:none" placeholder="Search for..." ng-model="ctrl.searchText"></textarea>
        <span class="input-group-addon btn btn-primary" ng-click="ctrl.search()">
        <i class="icon-search"></i>
      </span>
        <span class="input-group-addon btn btn-primary" ng-click="isCollapsed = !isCollapsed">
        <i class="icon-cog"></i>
      </span>
      </div>
    </div>

    <div uib-collapse="!isCollapsed">
      <div class="advance-settings shadow">
        <h3 class="list-heading">Advance settings:</h3>
        <ul class="list-group">
          <li class="list-group-item">
            Search by author
            <input type="text" class="form-control" placeholder="author name..." ng-model="ctrl.advanceName"></li>
          <li class="list-group-item">
            <div class="checkbox">
              <label><input type="checkbox" value="" ng-model="ctrl.advance1">Expanded search</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="right-panel col-sm-8">
  <article-list></article-list>
</div>
