<div class="left-panel col-sm-4">
  <div class="searcher shadow">
    <h1>PubMed Browser</h1>
    <div class="input-group">
      <textarea class="form-control custom-control" rows="3" style="resize:none" placeholder="Search for..." ng-model="ctrl.searchText"></textarea>
      <span class="input-group-addon btn btn-primary" ng-click="ctrl.search()">
        <i class="icon-search"></i>
      </span>
      <span class="input-group-addon btn btn-primary" ng-click="isCollapsed = !isCollapsed">
        <i class="icon-cog"></i>
      </span>
    </div>
  </div>

  <div uib-collapse="!isCollapsed">
    <div class="advance-settings shadow">
      <h3 class="list-heading">Advance settings:</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Search by author
          <input type="text" class="form-control" placeholder="author name..." ng-model="ctrl.advanceName"></li>
        <li class="list-group-item">
          <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="ctrl.advance1">Expanded search</label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="ctrl.advance2">Option 2</label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="search-result">
    <ul class="list-group shadow">
      <li ng-repeat="result in ctrl.searchResult" class="list-group-item">
        <div class="row">
          <div class="col-sm-6">
            <span class="label label-info">{{result.PMID}}</span>
          </div>
          <div class="progress col-sm-6">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow={{result.score}} aria-valuemin="0" aria-valuemax="100" style="{{'width: ' + result.score + '%'}}">
              {{result.score}}
            </div>
          </div>
        </div>
        <div>{{result.articleTitle}}</div>
      </li>
    </ul>
  </div> -->
</div>

<div class="right-panel col-sm-8">
  <article-list></article-list>
</div>
